
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p{
  color: #40514E;
  line-height: 2;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  color: #EAF6F6;
  width: 4%;
  margin: 100px auto;
 }

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding: 100px 0 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud{
  position: absolute;
  right: 25%;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 25%;
  bottom: 30%;
}

.intro{
  width: 30%;
  text-align: center;
  display: inline-block;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.7rem;
  padding: 20px 0;
}


.skill-row{
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;

}

.skill-proffessional-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-hobbie-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me{
  margin: 80px auto 100px auto;
}

.contact-message {
  margin: 40px auto 60px;
  width: 30%;
}

.footer-link{
  margin: 10rem 20px;
}

.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
   background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
   background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
   background-image: -o-linear-gradient(top, #11cdd4, #11999E);
   background-image: -webkit-gradient(to bottom, #11cdd4, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Merriweather', serif;
   font-size: 1.5rem;
   font-weight: normal;
   padding: 10px 20px 10px 20px;

   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;

   margin-top: 50px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
